*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.header{
    background-color: rgb(239, 147, 9);
    padding: 0 30px;
    height: 10vh;
}
.header ul{
    line-height: 10vh;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: end;
    height: 100%;
}
.header ul li{
    list-style: none;
    padding: 0 35px;
    height: 100%;
    transition: all .3s;
}
.header ul li a{
    text-decoration: none;
    color: white;
}
.logo{
    font-size: 30px;
    position: absolute;
    left: 0;
}
/* .menu:hover{
    background-color: rgb(74, 74, 74);
} */
.footer{
    background-color: black;
}